@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

*{ padding: 0;
    margin: 0; 
} 

body {
    padding-bottom: 17%;
}

.cover {
    width: 100%;
    height: 450px;
    padding-top: 190px;  
    background-image: url('banana.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 80px;
    box-shadow: 0 3px 2px grey ;
    box-sizing: border-box; 
    padding-left: 60px;  

}

.cover .heading {
    
    font-family: 'Bree Serif', serif;
    color: white ;
    font-size: 95px;
    text-shadow: 1px 1px 7px #000006;

}


.heading {
    color: #22325F;
    font-size: 64px;
    font-family: 'Bree Serif', serif;
    text-shadow: 1px 1px 1px #000005;
    margin-bottom: 40px;
    margin-left:   30px;
    margin-top: 30px;
}

.container {
    width: 80%;
    margin: auto;
}

.square {
    padding: 4%;
    width: 622px;
    display: inline-block;
    height: 350px;
    box-sizing: border-box; 
    margin-bottom: 5px;
}

.square:hover {
    outline: 6px solid #000000;
    outline-offset: -6px;
    transition: all 0.3s;

}

.article-title {
    font-size: 32px;
    font-family: 'Bree Serif', serif;
    margin-bottom: 20px ;
}

.article-body {
   
    font-size: 14px;
    font-family: 'Ropa Sans', sans-serif;
    text-align: justify;
}

.bg-light-gray      { 
    background-color: #eee ;
}


.bg-dark-gray       {
    background-color: #333 ;
}

.color-light-gray   {
    color: #eee ;
}
.color-dark-gray    { 
    color: #222 ;
}

